#body {
	background: #e1f0da;
}

#sidebar {
	background: #d4e7c5;
}

#navbar {
	background: #99bc85;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover {
	background-color: rgba(93, 135, 255, 0.1);
	color: green;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active,
.sidebar-nav ul .sidebar-item > .sidebar-link.active {
	background-color: green;
	color: #fff;
}

#myTable {
	/* border: 1px solid #dee2e6; */
	padding-top: 10px;
	border-collapse: collapse;
	width: 99%;
}

#myTable tr th,
#myTable tr td {
	border: 1px solid #dee2e6;
	/* border: 0; */
	/* padding: 1rem; */
}

.paginate_button.current {
	background: #d4e7c5 !important;
	border: 1px solid green !important;
	border-radius: 100% !important;
}
